lesson1/task1.exe
lesson1/task2.exe
lesson1/task3.exe
lesson1/task4.exe
lesson1/task5.exe
lesson1/task6.exe
lesson1/task7.exe
lesson1/task8.exe
lesson1/task9.exe
lesson1/task10.exe
lesson2/task11.exe
lesson2/task12.exe
lesson2/task13.exe
lesson2/task14.exe
lesson2/task15.exe
lesson2/task16.exe
lesson2/task17.exe
lesson2/task18.exe
lesson2/task19.exe
lesson2/task20.exe